.topics {
  width: 200px;
  height: 200px;
  background-color: rgb(205, 205, 205);
  cursor: pointer;
}

.container {
  display: flex;
  gap: 8px;
  width: 800px;
  margin: 0px auto;
  flex-wrap: wrap;
}
